
.temperature-card-left {
  flex: 1;
  border-right: 1px solid #000;
  padding-right: 10px;
  text-align: center;
}

.temperature-card-right {
  flex: 1;
  padding-left: 10px;
  text-align: center;
}

.other-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.error-message {
  width: 100%;
  text-align: center; 
  margin-top: 10px;
  color: red; 
}
.load-message {
  width: 100%;
  text-align: center; 
  margin-top: 10px;
  color: rgb(30, 0, 255);
}

.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  background-color: #00b4cc;

}

.custom-bg-color {
  background-color: #00b4cc;
}